{% extends 'base.html' %}
{% block title %}AdmSenac{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow border-danger">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Confirmar Exclusão</h4>
            </div>
            <div class="card-body text-center">
                <p class="fs-5">Tem certeza que deseja excluir o Prato <strong>{{ object.nome }}</strong>?</p>
                <form method="post">
                    {% csrf_token %}
                    <a href="{% url 'prato_list' %}" class="btn btn-outline-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Excluir Definitivamente</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}